packages:
  yum:
    python3-devel: []
    gcc: []

commands:
  01_upgrade_pip:
    command: "/usr/bin/python3 -m pip install --upgrade pip"
    ignoreErrors: true

container_commands:
  01_install_dependencies:
    command: "pip install -r requirements.txt"

  02_install_library:
    command: "pip install -e ."

  03_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true

  04_collectstatic:
    command: "python manage.py collectstatic --noinput --clear"
    leader_only: true

  05_create_superuser:
    command: >
      python manage.py shell -c
      "from django.contrib.auth.models import User;
      User.objects.filter(username='admin').exists() or
      User.objects.create_superuser('admin', 'admin@example.com', 'AdminPass123!')"
    leader_only: true
    ignoreErrors: true

  06_init_aws_resources:
    command: "python manage.py init_aws_resources"
    leader_only: true
    ignoreErrors: true
